html,
body {
    height: 100%;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    min-width: 800px;
    height: 500px;
    border: none;
    box-shadow: 0 0 9px 0 rgba(0,0,0,.3);
    border-radius: 3px;
    color: white;
    font-size: 128px;
    background: skyblue;
    cursor: pointer;
}
